* {
     padding: 0%;
     margin: 0;
}


.App {
     background-color: rgb(221,198,177);
     display: flex;
     flex-direction: column;
     align-items: center;
}
.header{
     background-color: var(--yellow);
     margin-top: -5%;
     padding-top: -5%;
     height:5%
   

}
.button {
     font-size: large;
     color: var(--text-dark);
     position: relative;
     left: 70%;

     border-radius: 12%;
     background-color: var(--green);
     height: 100px;
     margin: 2rem;
     box-shadow:  var(--turquoise);
     border-color: var(--blue);
     border-style:groove;
  border-width: 8px;
}