:root {
  --white: rgba(101,26,68,0.1);
  --green: rgba(109,193,73);
  --blue: rgb(21,142,166);
  --turquoise: rgba(16,101,130,.6);
  --pink:rgb(200,100,122);
  --red: rgb(241,74,98);
  --text-dark: rgb(108,64,61);
  --text-light: rgb(212,193,145);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(245, 159, 177);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
