.button {
     background-color: blueviolet;
     color: white;
     height:10rem;
     padding: 1rem;
     font-size: 19px;
     margin: 2rem;
     border-radius: 70%;
     text-align: center;
     text-align: justify;
     text-justify: inter-word;
     word-wrap: break-word;
     
}